//
//== 内容区域
.container-fluid {
  .breadcrumb {
    margin-top: 18px;
    margin-bottom: 54px;
    i {
      color: #666;
    }
  }
}

.classemanage {
  .isopen {
    letter-spacing: 2px;
  }
  .classe-operation {
    margin: 0 20px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border: solid 1px #39b3d7;
    .header {
      height: 26px;
      background-color: #39b3d7;
      text-align: right;
      span {
        color: #fff;
        line-height: 26px;
        padding-right: 20px;
      }
      i {
        color: #fff;
      }
    }
    form {
      padding: 15px 20px 40px;
    }
    div.checkbox {
      margin-bottom: 30px;
    }
  }
}

.userslist {
  .detail {
    display: none;
  }
}

.usercreate {
  .form,
  .form-tip {
    height: 262px;
  }
  .form-tip {
    background-color: #29a8cd;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    .title {
      margin-bottom: 8px;
      padding: 15px;
      color: #fff;
      font-size: 16px;
    }
    .content {
      color: #fff;
      li {
        margin-top: 6px;
      }
    }
  }
  .form-group {
    [class|=col-md] {
      padding-right: 8px;
      padding-left: 8px;
    }
    .control-label {
      letter-spacing: 1px;
    }
    .user-add {
      margin-left: 8px;
    }
  }
  .checkboxs {
    margin-top: 7px;
    padding-left: 0;
    > div {
      float: left;
      margin-right: 22px;
    }
    [type=checkbox] {
      float: none;
      display: inline-block;
      margin: 0 4px 3px 0;
      vertical-align: middle;
    }
  }
  .tip {
    padding-top: 7px;
    span {
      color: #ed9c28;
    }
  }
}

.passwordmodify {
  form {
    margin-top: 20px;
  }
}