
<div class="container-fluid usercreate">
  <div class="row">
    <div class="col-xs-12">
      <ol class="breadcrumb">
        <li><i class="fa fa-home"></i></li>
        <li><a>项目管理</a></li>
        <li class="active">新增项目</li>
      </ol>
    </div>
  </div>
  <div class="row main-content">
    <form class="form-horizontal">
      <div class="form-group text-center">
        <span class="msg">{{errorMsg}}</span>
      </div>
      <div class="form-group">
        <label for="account" class="col-xs-4 control-label"><span class="text-danger">*</span>名称：</label>
        <div class="col-xs-7">
          <input type="text" id="account" ng-model="info.name" class="account form-control"/>
        </div>
      </div>
      <div class="form-group">
        <label class="col-xs-4 control-label">归属小组：</label>
        <div class="col-xs-7">
          <select class="form-control" ng-model="info.group">
            <option ng-repeat="group in allgroups" ng-bind="group.name" value="{{group._id}}"></option>
          </select> 
        </div>
      </div>
      <div class="form-group">
        <label for="birthday" class="col-xs-4 control-label">描述：</label>
        <div class="col-xs-7">
          <textarea type="text" ng-model="info.description" class="form-control" rows="5"></textarea>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-offset-4 col-xs-8">
          <buttom add-doc="add-doc" class="user-add btn btn-sm btn-warning">确认添加<i class="fa fa-plus"></i></buttom>
        </div>
      </div>
    </form>
  </div>
</div>